---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/webp" href="/favicon.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="A static webpage elegantly crafted to deliver a clean, seamless view of my personal portfolio.">
		<meta name="generator" content={Astro.generator} />
		<title>Adam Snow</title>
	</head>

	<body class="bg-stone-950 text-white max-w-2xl lg:mx-auto md:ml-4 md:mr-4 ml-6 mr-6">
		<nav class="mt-14">
			<ul class="flex space-x-4">
				<li class="cursor-pointer underline underline-offset-8 decoration-neutral-800 hover:text-neutral-200 transition-all">
					home
				</li>
				<li>
					<a href="https://adamsnow.dev/projects"  class="text-neutral-500 hover:text-neutral-200 transition-all">
						projects
					</a>
				</li>
			</ul>
		</nav>

		<header class="font-semibold text-2xl mt-16">
			<h1>hey, I'm adam 👋</h1>
		</header>

		<main>
			<article class="mt-10 text-neutral-300">
				<p class="mt-7">
					I am studying <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">Computer Science</span> at the <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">University of Wollongong</span> in Sydney, Australia, with a double major in <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">Software Engineering</span> and <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">Web Design and Development</span>. My hands have been full as I am learning everything from programming and web development to design, and more.
				</p>
	
				<p class="mt-3">
					At present, my focus is on <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">front-end development</span>. I'm experimenting with a mix of <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">HTML, CSS, JavaScript, TypeScript, and React</span>. I am passionate about creating <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">intuitive user interfaces</span> and <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">seamless user experiences</span> while placing a particular emphasis on <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">minimalistic web design</span>.
				</p>
	
				<p class="mt-3">
					Having been captivated on <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">coding</span> for a few years now, I take pleasure in the process of transforming lines of code into <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">functional systems</span>. It's an intriguing blend of <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">creativity</span> and <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">problem-solving</span>, with the added benefit of seeing my projects spring to life.
				</p>
	
				<p class="mt-3">
					When I am not coding or studying, I can be found <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">gaming with friends</span> or <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">browsing the web</span>. This helps maintain <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">balance</span> in my life and keeps me <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">motivated</span> to continue being productive.
				</p>

				<p class="mt-3">
					In the long run, I hope to utilize all this gathered knowledge and <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">practical experimentation</span> as a <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">Front-End Software Engineer</span>. I am at the early stages of my journey, so expect more <span class="underline decoration-teal-500 decoration-2 hover:text-white hover:decoration-teal-400 transition-all">soon</span>.
				</p>
			</article>
		</main>

		<footer class="mt-7 md:flex mb-36">
			<a href="https://github.com/snow-adam" target="_blank" class="flex text-neutral-300 hover:text-neutral-100 transition-all">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-1 mt-1 mb-3">
					<path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd" />
					<p>follow me on github</p>
				</svg>
			</a>

			<span class="md:mr-3"></span>
			
			<a href="mailto:snowadam@icloud.com" target="_blank" class="flex text-neutral-300 hover:text-neutral-100 transition-all">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-1 mt-1">
					<path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd" />
					<p>get in contact</p>
				</svg>
			</a>
		</footer>
	</body>
</html>
