---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/webp" href="/favicon.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Adam Snow</title>
	</head>
	<body class="bg-stone-950 text-white max-w-2xl mx-auto">
		<nav class="mt-10 mb-10 font-medium">
			<ul class="flex space-x-5">
				<li class="cursor-pointer underline underline-offset-4 decoration-neutral-500">home</li>
				<li class=" text-neutral-500"><a href="projects.html">projects</a></li>
			</ul>
		</nav>

		<main>
			<header class="font-semibold text-2xl">
				<h1>hey, I'm adam 👋</h1>
			</header>

			<p class="mt-7 text-neutral-300">
				I'm an aspiring <span class="underline decoration-teal-400 decoration-2">full-stack software engineer</span> and web development enthusiast, currently venturing into the vast field of computer science. I'm learning about various aspects of software engineering, focusing particularly on front-end development and community building.
			</p>

			<p class="mt-7 text-neutral-300">
				I'm excited to share my learning journey in web development, JavaScript, TypeScript, React, and Next.js, among other topics. My aim is to document my progress and the valuable lessons I learn along the way.
			</p>

			<p class="mt-7 text-neutral-300">
				As of now, my time is spent diving headfirst into learning and content creation. My focus is on sharing my journey, discussing the technologies I'm discovering, and documenting my development and growth in the field.
			</p>

			<p class="mt-7 text-neutral-300">
				In the future, I am keen on supporting and learning from early-stage startups that are crafting tools for developers.
				Eagerly looking forward to opportunities for collaboration, learning more about developer marketing, and how to build thriving open-source communities.
			</p>	  
		</main>
	</body>
</html>
